<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings />
   <system.web>
      <compilation debug="true" targetFramework="4.0">
         <assemblies>
            <!--<add assembly="MailBee.NET, Version=5.0.2.125, Culture=neutral, PublicKeyToken=CD85B70FB26F9FC1"/>-->
            <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
         </assemblies>
      </compilation>
      <authentication mode="None"/>
      <customErrors mode="Off" />
      <httpRuntime maxRequestLength="10000" enable="true" requestLengthDiskThreshold="512" useFullyQualifiedRedirectUrl="true" executionTimeout="45" requestValidationMode="2.0"/>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
         <controls>
            <!--<add tagPrefix="cs" namespace="Cosmo.UI.AspControls" assembly="Cosmo.Core"/>
            <add tagPrefix="ig" namespace="Cosmo.Web.Google.Controls" assembly="Cosmo.Web.Google"/>-->
         </controls>
      </pages>
   </system.web>
   <system.webServer>
      <handlers>
         
         <!-- Pages -->
         <add name="Home" verb="GET,HEAD" path="Home" type="Cosmo.WebApp.Home"/>
         <!-- <add name="Home" verb="GET,HEAD" path="Home" type="Rwm.WebApp.Home"/> -->
         
         <add name="ContentView" verb="GET,HEAD" path="ContentView" type="Cosmo.WebApp.Content.ContentView"/>
         <add name="ContentFolder" verb="GET,HEAD" path="ContentFolder" type="Cosmo.WebApp.Content.ContentFolder"/>
         <add name="ContentEdit" verb="*" path="ContentEdit" type="Cosmo.WebApp.Content.ContentEdit"/>
         <add name="ContentEditFileList" verb="*" path="ContentEditFileList" type="Cosmo.WebApp.Content.ContentEditFileList"/>
         
         <add name="ClassifiedView" verb="GET,HEAD,POST" path="ClassifiedView" type="Cosmo.WebApp.Classified.ClassifiedView"/>
         <add name="ClassifiedFolder" verb="GET,HEAD" path="ClassifiedFolder" type="Cosmo.WebApp.Classified.ClassifiedFolder"/>
         <add name="ClassifiedManage" verb="GET,HEAD" path="ClassifiedManage" type="Cosmo.WebApp.Classified.ClassifiedManage"/>
         <add name="ClassifiedEdit" verb="GET,HEAD" path="ClassifiedEdit" type="Cosmo.WebApp.Classified.ClassifiedEdit"/>
         
         <add name="PhotosBrowse" verb="GET,HEAD" path="PhotosBrowse" type="Cosmo.WebApp.Photos.PhotosBrowse"/>
         <add name="PhotosByUser" verb="GET,HEAD" path="PhotosByUser" type="Cosmo.WebApp.Photos.PhotosByUser"/>
         <add name="PhotosByFolder" verb="GET,HEAD" path="PhotosByFolder" type="Cosmo.WebApp.Photos.PhotosByFolder"/>
         <add name="PhotosRecent" verb="GET,HEAD" path="PhotosRecent" type="Cosmo.WebApp.Photos.PhotosRecent"/>
         <add name="PhotosUpload" verb="GET,POST,HEAD" path="PhotosUpload" type="Cosmo.WebApp.Photos.PhotosUpload"/>
         
         <add name="ForumFolder" verb="GET,HEAD" path="ForumFolder" type="Cosmo.WebApp.Forums.ForumFolder"/>
         <add name="ForumThreadView" verb="GET,HEAD" path="ForumThreadView" type="Cosmo.WebApp.Forums.ForumThreadView"/>
         <add name="ForumThreadsByUser" verb="GET,HEAD" path="ForumThreadsByUser" type="Cosmo.WebApp.Forums.ForumThreadsByUser"/>
         <add name="ForumMessageEdit" verb="GET,POST,HEAD" path="ForumMessageEdit" type="Cosmo.WebApp.Forums.ForumMessageEdit"/>
         <add name="ForumThreadMoveModal" verb="GET,POST,HEAD" path="ForumThreadMoveModal" type="Cosmo.WebApp.Forums.ForumThreadMoveModal"/>

         <add name="UserAuth" verb="GET,HEAD,POST" path="UserAuth" type="Cosmo.WebApp.UserServices.UserAuth"/>
         <add name="UserData" verb="GET,HEAD,POST" path="UserData" type="Cosmo.WebApp.UserServices.UserData"/>
         <add name="UserJoin" verb="GET,HEAD,POST" path="UserJoin" type="Cosmo.WebApp.UserServices.UserJoin"/>
         <add name="UserJoinVerification" verb="GET,HEAD,POST" path="UserJoinVerification" type="Cosmo.WebApp.UserServices.UserJoinVerification"/>
         <add name="UserPasswordRecovery" verb="GET,HEAD,POST" path="UserPasswordRecovery" type="Cosmo.WebApp.UserServices.UserPasswordRecovery"/>

         <add name="PrivateMessages" verb="GET,HEAD,POST" path="PrivateMessages" type="Cosmo.WebApp.CommunicationServices.PrivateMessages"/>

         <add name="AdminUserList" verb="GET,HEAD,POST" path="AdminUserList" type="Cosmo.WebApp.Admin.AdminUserList"/>
         <add name="AdminUserData" verb="GET,HEAD,POST" path="AdminUserData" type="Cosmo.WebApp.Admin.AdminUserData"/>

         <!-- Cosmo CMS REST Services -->
         <add name="CmsApi" verb="POST,HEAD" path="CmsApi" type="Cosmo.Cms.REST.CmsApi"/>

         <!-- Cosmo REST Services -->
         <add name="CommunicationsRestHandler" verb="GET,HEAD,POST" path="CommunicationsRestHandler" type="Cosmo.REST.CommunicationsRestHandler"/>
         <add name="FileSystemRestHandler" verb="GET,HEAD,POST" path="FileSystemRestHandler" type="Cosmo.REST.FileSystemRestHandler"/>
         <add name="SecurityRestHandler" verb="GET,HEAD,POST" path="SecurityRestHandler" type="Cosmo.REST.SecurityRestHandler"/>
         <add name="UIRestHandler" verb="GET,HEAD,POST" path="UIRestHandler" type="Cosmo.REST.UIRestHandler"/>

         <!-- Railwaymania Specific Handlers -->
         <add name="AspxAdapterHandler" verb="GET,HEAD" path="*.aspx" type="Rwn.WebApp.Handlers.AspxAdapterHandler"/>
         
         <!-- OBSOLETE Rest Services -->
         <!--<add name="MetaObjectsService" verb="GET,HEAD,POST" path="MetaObjectsApi" type="Cosmo.REST.MetaObjectsApi"/>-->
         <!--<add name="commService" verb="GET,HEAD,POST" path="CommService" type="Cosmo.Handlers.CommServices"/>-->
         <!--<add name="users" verb="GET,HEAD,POST" path="users.do" type="Cosmo.Handlers.UserHandler"/>-->
         <!--<add name="server" verb="GET,HEAD" path="server.do" type="Cosmo.Handlers.WorkspaceHandler"/>-->
         <!--<add name="captcha" verb="GET,HEAD" path="captcha.do" type="Cosmo.Handlers.CaptchaHandler"/>-->
         <!--<add name="contacts" verb="GET,HEAD" path="contacts.do" type="Cosmo.Cms.Contacts.CSContactsHandler"/>
         <add name="links" verb="GET,HEAD" path="links.do" type="Cosmo.Cms.Links.CSLinksHandler"/>
         <add name="banner" verb="GET,HEAD" path="banner.do" type="Cosmo.Cms.Banners.CSBannerHandler"/>
         <add name="rss" verb="GET,HEAD" path="rss.do" type="Cosmo.Cms.Rss.CSRssHandler"/>
         <add name="aspPages" verb="GET,HEAD" path="*.asp" type="Cosmo.Cms.Handlers.CSAspHandler"/>-->
      </handlers>
   </system.webServer>
</configuration>