<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings />
   <system.web>
      <compilation debug="true" targetFramework="4.0">
         <assemblies>
            <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
         </assemblies>
      </compilation>
      <authentication mode="None"/>
      <customErrors mode="Off" />
      <httpRuntime maxRequestLength="10000" enable="true" requestLengthDiskThreshold="512" useFullyQualifiedRedirectUrl="true" executionTimeout="45" requestValidationMode="2.0"/>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
         <controls>
            <!--<add tagPrefix="cs" namespace="Cosmo.UI.AspControls" assembly="Cosmo.Core"/>
            <add tagPrefix="ig" namespace="Cosmo.Web.Google.Controls" assembly="Cosmo.Web.Google"/>-->
         </controls>
      </pages>
   </system.web>
   <system.webServer>
      <handlers>

         <!-- Pages -->
         <add name="RwmWelcome" verb="GET,HEAD" path="Home" type="Rwm.Web.RwmWelcome"/>
         <!--<add name="RwmHomePage" verb="GET,HEAD" path="Home" type="Rwm.Web.RwmHomePage"/>-->
         <add name="RwmPrivacy" verb="GET,HEAD" path="RwmPrivacy" type="Rwm.Web.RwmPrivacy"/>
         <add name="RwmForumRules" verb="GET,HEAD" path="ForumRules" type="Rwm.Web.RwmForumRules"/>

         <add name="ContentView" verb="GET,HEAD" path="ContentView" type="Cosmo.Cms.Web.ContentView"/>
         <add name="ContentByFolder" verb="GET,HEAD" path="ContentByFolder" type="Cosmo.Cms.Web.ContentByFolder"/>
         <add name="ContentEdit" verb="*" path="ContentEdit" type="Cosmo.Cms.Web.ContentEdit"/>
         <add name="ContentEditFileList" verb="*" path="ContentEditFileList" type="Cosmo.Cms.Web.ContentEditFileList"/>

         <add name="AdsView" verb="GET,HEAD,POST" path="AdsView" type="Cosmo.Cms.Web.AdsView"/>
         <add name="AdsByFolder" verb="GET,HEAD" path="AdsByFolder" type="Cosmo.Cms.Web.AdsByFolder"/>
         <add name="AdsManage" verb="GET,HEAD" path="AdsManage" type="Cosmo.Cms.Web.AdsManage"/>
         <add name="AdsEditor" verb="GET,HEAD,POST" path="AdsEditor" type="Cosmo.Cms.Web.AdsEditor"/>
         <add name="AdsContactModal" verb="GET,POST,HEAD" path="AdsContactModal" type="Cosmo.Cms.Web.AdsContactModal"/>
         <add name="AdsDeleteModal" verb="GET,POST,HEAD" path="AdsDeleteModal" type="Cosmo.Cms.Web.AdsDeleteModal"/>
         <add name="AdsRepublishModal" verb="GET,POST,HEAD" path="AdsRepublishModal" type="Cosmo.Cms.Web.AdsRepublishModal"/>
         <add name="AdsUnpublishModal" verb="GET,POST,HEAD" path="AdsUnpublishModal" type="Cosmo.Cms.Web.AdsUnpublishModal"/>
         <add name="AdsManageListPartialView" verb="GET,POST,HEAD" path="AdsManageListPartialView" type="Cosmo.Cms.Web.AdsManageListPartialView"/>

         <add name="PhotosBrowse" verb="GET,HEAD" path="PhotosBrowse" type="Cosmo.Cms.Web.PhotosBrowse"/>
         <add name="PhotosByFolder" verb="GET,HEAD" path="PhotosByFolder" type="Cosmo.Cms.Web.PhotosByFolder"/>
         <add name="PhotosUpload" verb="GET,POST,HEAD" path="PhotosUpload" type="Cosmo.Cms.Web.PhotosUpload"/>
         <add name="PhotosRemoveModal" verb="GET,POST,HEAD" path="PhotosRemoveModal" type="Cosmo.Cms.Web.PhotosRemoveModal"/>
         <add name="PhotosEditModal" verb="GET,POST,HEAD" path="PhotosEditModal" type="Cosmo.Cms.Web.PhotosEditModal"/>

         <add name="ForumFolder" verb="GET,HEAD" path="ForumFolder" type="Cosmo.Cms.Web.ForumFolder"/>
         <add name="ForumThreadView" verb="GET,HEAD" path="ForumThreadView" type="Cosmo.Cms.Web.ForumThreadView"/>
         <add name="ForumThreadsByUser" verb="GET,HEAD" path="ForumThreadsByUser" type="Cosmo.Cms.Web.ForumThreadsByUser"/>
         <add name="ForumMessageEdit" verb="GET,POST,HEAD" path="ForumMessageEdit" type="Cosmo.Cms.Web.ForumMessageEdit"/>
         <add name="ForumThreadMoveModal" verb="GET,POST,HEAD" path="ForumThreadMoveModal" type="Cosmo.Cms.Web.ForumThreadMoveModal"/>
         <add name="ForumThreadRemoveModal" verb="GET,POST,HEAD" path="ForumThreadRemoveModal" type="Cosmo.Cms.Web.ForumThreadRemoveModal"/>
         <add name="ForumThreadToggleStatusModal" verb="GET,POST,HEAD" path="ForumThreadToggleStatusModal" type="Cosmo.Cms.Web.ForumThreadToggleStatusModal"/>

         <add name="UserAuth" verb="GET,HEAD,POST" path="UserAuth" type="Cosmo.Web.UserAuth"/>
         <add name="UserData" verb="GET,HEAD,POST" path="UserData" type="Cosmo.Web.UserData"/>
         <add name="UserJoin" verb="GET,HEAD,POST" path="UserJoin" type="Cosmo.Web.UserJoin"/>
         <add name="UserJoinVerification" verb="GET,HEAD,POST" path="UserJoinVerification" type="Cosmo.Web.UserJoinVerification"/>
         <add name="UserPasswordRecovery" verb="GET,HEAD,POST" path="UserPasswordRecovery" type="Cosmo.Web.UserPasswordRecovery"/>
         <add name="UserDataModal" verb="GET,HEAD,POST" path="UserDataModal" type="Cosmo.Web.UserDataModal"/>

         <add name="PrivateMessages" verb="GET,HEAD,POST" path="PrivateMessages" type="Cosmo.Web.PrivateMessages"/>
         <add name="PrivateMessagesPartialView" verb="GET,HEAD,POST" path="PrivateMessagesPartialView" type="Cosmo.Web.PrivateMessagesPartialView"/>

         <add name="AdminUserList" verb="GET,HEAD,POST" path="AdminUserList" type="Cosmo.Web.AdminUserList"/>
         <add name="AdminUserData" verb="GET,HEAD,POST" path="AdminUserData" type="Cosmo.Web.AdminUserData"/>

         <!-- Cosmo CMS REST Services -->
         <add name="CmsApi" verb="POST,HEAD" path="CmsApi" type="Cosmo.Cms.Handlers.CmsApi"/>

         <!-- Cosmo REST Services -->
         <add name="CommunicationsRestHandler" verb="GET,HEAD,POST" path="CommunicationsRestHandler" type="Cosmo.Web.Handlers.CommunicationsRestHandler"/>
         <add name="FileSystemRestHandler" verb="GET,HEAD,POST" path="FileSystemRestHandler" type="Cosmo.Web.Handlers.FileSystemRestHandler"/>
         <add name="SecurityRestHandler" verb="GET,HEAD,POST" path="SecurityRestHandler" type="Cosmo.Web.Handlers.SecurityRestHandler"/>
         <add name="UIRestHandler" verb="GET,HEAD,POST" path="UIRestHandler" type="Cosmo.Web.Handlers.UIRestHandler"/>

         <!-- Railwaymania Specific Handlers -->
         <add name="AspxAdapterHandler" verb="GET,HEAD" path="*.aspx" type="Rwn.Web.Handlers.AspxAdapterHandler"/>

         <!-- OBSOLETE Rest Services -->
         <!--<add name="MetaObjectsService" verb="GET,HEAD,POST" path="MetaObjectsApi" type="Cosmo.REST.MetaObjectsApi"/>-->
         <!--<add name="commService" verb="GET,HEAD,POST" path="CommService" type="Cosmo.Handlers.CommServices"/>-->
         <!--<add name="users" verb="GET,HEAD,POST" path="users.do" type="Cosmo.Handlers.UserHandler"/>-->
         <!--<add name="server" verb="GET,HEAD" path="server.do" type="Cosmo.Handlers.WorkspaceHandler"/>-->
         <!--<add name="captcha" verb="GET,HEAD" path="captcha.do" type="Cosmo.Handlers.CaptchaHandler"/>-->
         <!--<add name="contacts" verb="GET,HEAD" path="contacts.do" type="Cosmo.Cms.Contacts.CSContactsHandler"/>
         <add name="links" verb="GET,HEAD" path="links.do" type="Cosmo.Cms.Links.CSLinksHandler"/>
         <add name="banner" verb="GET,HEAD" path="banner.do" type="Cosmo.Cms.Banners.CSBannerHandler"/>
         <add name="rss" verb="GET,HEAD" path="rss.do" type="Cosmo.Cms.Rss.CSRssHandler"/>
         <add name="aspPages" verb="GET,HEAD" path="*.asp" type="Cosmo.Cms.Handlers.CSAspHandler"/>-->
      </handlers>
   </system.webServer>
</configuration>